In [1]:
import numpy as np
import pandas as pd

In [2]:
pe = pd.read_csv(r'C:\Users\Prasanth\Downloads\PE.csv')
prices = pd.read_csv(r'C:\Users\Prasanth\Downloads\Daily values.csv')

In [3]:
pe[0:4]

   Mar 1, 2018     26
0  Feb 1, 2018  26.30
1  Jan 1, 2018  25.06
2  Dec 1, 2017  24.70
3  Nov 1, 2017  24.09

In [4]:
pe = pe.rename(index=str, columns={"Mar 1, 2018": "Date"})
pe = pe.rename(index=str, columns={"26": "PE_ratio"})

In [18]:
pe[0:4]

          Date  PE_ratio
0  Feb 1, 2018     26.30
1  Jan 1, 2018     25.06
2  Dec 1, 2017     24.70
3  Nov 1, 2017     24.09

In [21]:
pe.isnull().sum()

# good

Date        0
PE_ratio    0
dtype: int64

In [20]:
prices[0:4]

         Date   Open   High    Low  Close  Adj Close   Volume    Change
0  03-01-1950  16.66  16.66  16.66  16.66      16.66  1260000       NaN
1  04-01-1950  16.85  16.85  16.85  16.85      16.85  1890000  1.140456
2  05-01-1950  16.93  16.93  16.93  16.93      16.93  2550000  0.474777
3  06-01-1950  16.98  16.98  16.98  16.98      16.98  2010000  0.295334

In [22]:
prices.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
Change       1
dtype: int64

In [5]:
prices['Change'][0] = 1

# just setting it as 1. Its only one data point afterall. Ignore the warnings below

C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
pe['month'] = pe['Date'].astype(str)
pe['month'] = pe.Date.str[0:3]

In [7]:
pe['month_number'] = '00'

In [43]:
pe['month'].unique()

array(['Feb', 'Jan', 'Dec', 'Nov', 'Oct', 'Sep', 'Aug', 'Jul', 'Jun',
       'May', 'Apr', 'Mar'], dtype=object)

In [8]:
for i in range(0,len(pe)):
    if pe['month'][i] == 'Jan':
        pe['month_number'][i] = '01'
    elif pe['month'][i] == 'Feb':
        pe['month_number'][i] = '02'
    elif pe['month'][i] == 'Mar':
        pe['month_number'][i] = '03'
    elif pe['month'][i] == 'Apr':
        pe['month_number'][i] = '04'
    elif pe['month'][i] == 'May':
        pe['month_number'][i] = '05'
    elif pe['month'][i] == 'Jun':
        pe['month_number'][i] = '06'
    elif pe['month'][i] == 'Jul':
        pe['month_number'][i] = '07'
    elif pe['month'][i] == 'Aug':
        pe['month_number'][i] = '08'
    elif pe['month'][i] == 'Sep':
        pe['month_number'][i] = '09'
    elif pe['month'][i] == 'Oct':
        pe['month_number'][i] = '10'
    elif pe['month'][i] == 'Nov':
        pe['month_number'][i] = '11'
    elif pe['month'][i] == 'Dec':
        pe['month_number'][i] = '12'

C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [9]:
prices['month'] = prices['Date'].astype(str)
prices['month'] = prices.Date.str[3:5]

In [10]:
prices['year'] = prices['Date'].astype(str)
prices['year'] = prices.Date.str[6:10]

In [11]:
prices['month_year'] = prices['month'] + prices['year']

In [12]:
pe['year'] = pe['Date'].astype(str)
pe['year'] = pe.Date.str[7:11]

In [13]:
pe['month_year_com'] = pe['month_number'] + pe['year']

In [14]:
merged = pd.merge(prices,
                     pe,
                     left_on='month_year',
                     right_on='month_year_com',
                     how='left')

In [15]:
len(prices)

17150

In [16]:
len(merged)

17150

In [67]:
merged.columns

Index(['Date_x', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Change', 'month_x', 'year_x', 'month_year', 'Date_y', 'PE_ratio',
       'month_y', 'month_number', 'year_y', 'month_year_com'],
      dtype='object')

In [15]:
final_df = merged[['Date_x', 'PE_ratio', 'Change']]

In [16]:
final_df['PE_ratio'] = final_df['PE_ratio'].astype(float)
final_df['Change'] = final_df['Change'].astype(float)

C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
len(final_df[final_df['Change'] > 0])*100/len(final_df)

52.967930029154516

In [17]:
final_pos = final_df[final_df['Change'] > 0]

In [39]:
final_pos['Change'].median()

0.46001373749999996

In [37]:
final_neg = final_df[final_df['Change'] < 0]

In [40]:
final_neg['Change'].median()

-0.456508171

In [43]:
# the above results are shocking

# stock markets closed in positive only 53% of days but SP500 moved from 17 in 1950 to 2700 in 2018

# This is not what i see usually. Let me do the same analysis only from 1990 (the era of high leverage, algo trading began in 1990)
# I think with leverage and sophisticated computer models, volatility breeds more volatility

from1990 = final_df[len(final_df)-7100: len(final_df)]

In [44]:
from1990[0:4]

           Date_x  PE_ratio    Change
10050  26-12-1989     15.24 -0.175584
10051  27-12-1989     15.24  0.576685
10052  28-12-1989     15.24  0.533246
10053  29-12-1989     15.24  0.778504

In [47]:
from1990_pos = from1990[from1990['Change'] > 0]

len(from1990_pos)/len(from1990)

# Nope. Its exactly the same 53
# Funnily, its the exact 53 even from 2001 - 2010 (both dot com boom and financial crisis. Basically, bull run or bear market, this 53 ratio holds)

# I did this for German DAX, Indian NSE and Japanese Nikkei 225 in excel and no market has more than 55% positive days bull or bear across any 5 years

0.5343661971830986

In [59]:
# I know that 1997 to 2000 was a very good time for stock markets. What % of days did markets close in +ve during these 3 years

dot_com_boom = final_df[len(final_df)-5320: len(final_df)-4600]

In [60]:
dot_com_boom[0:4]

           Date_x  PE_ratio    Change
11830  09-01-1997     19.53  0.860491
11831  10-01-1997     19.53  0.616020
11832  13-01-1997     19.53  0.001318
11833  14-01-1997     19.53  1.231054

In [61]:
len(dot_com_boom[dot_com_boom['Change'] > 0])/len(dot_com_boom)

# what the? Even during the best 3 years for stock markets since I was born, markets rose for only 54% of days
# There is some up bias but nadex commissions mean its not pratical to try out
# I completely understand how markov chains is very relevant to this problem now

0.5402777777777777

In [62]:
final_pos['PE_ratio'].describe()

count    9084.000000
mean       18.025917
std        11.235865
min         6.680000
25%        12.330000
50%        17.070000
75%        19.840000
max       123.730000
Name: PE_ratio, dtype: float64

In [63]:
final_neg['PE_ratio'].describe()

count    7941.000000
mean       18.097795
std        11.312962
min         6.680000
25%        12.020000
50%        16.920000
75%        20.420000
max       123.730000
Name: PE_ratio, dtype: float64

In [17]:
# OMG!!!!!!!!! even PE doesn't have much predictive power. Its amazing how even such a powerful ratio in long term investing is useless for daily up/down prediction
# I need to get smart here and look beyond the typical

# What about weekly analysis? (lets just say 5 trading days)

final_df['factor'] = 1 + (final_df['Change']/100)

C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
final_df['five_day'] = 0
five_day = final_df.columns.get_loc("five_day")
factor = final_df.columns.get_loc("factor")

C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
factor

3

In [19]:
five_day

4

In [ ]:
# This operation takes hours to complete in python. don't know why. did it in 30 sec in excel.

# for i in range(4,len(final_df)):
#    final_df.loc[i,'five_day'] = final_df.loc[i,'factor']*final_df.loc[i-1,'factor']*final_df.loc[i-2,'factor']*final_df.loc[i-3,'factor']*final_df.loc[i-4,'factor']

C:\Users\Prasanth\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [ ]:
final_df.to_csv('final_df.csv')
final_df_modified = pd.read_csv('final_df_modified.csv')

In [22]:
#for i in range(0, 5, 2):
#    print(i)

# if we want to skip

0
2
4

In [24]:
weekly_file = final_df_modified.iloc[::5, :]

In [25]:
weekly_file[0:4]

# yup. that's exactly what i need

,Unnamed: 0,Date_x,PE_ratio,Change,factor,five_day,Weekly_indicator
0,0,03-01-1950,7.21,1.000000,1.010000,0.000000,0
5,5,10-01-1950,7.21,-0.292734,0.997073,1.022209,1
10,10,17-01-1950,7.21,0.837333,1.008373,0.990018,0
15,15,24-01-1950,7.21,-0.354604,0.996454,1.000000,0

In [26]:
len(weekly_file)

# 3430 weeks in total since 1950

3430

In [30]:
len(weekly_file[weekly_file['five_day'] >= 1])*100/len(weekly_file)

# Even on a weekly basis, the stock markets rose only for 57% of weeks. We could do monthly but profits decrease as time increases and trading frequency decreases

56.99708454810496

In [ ]:
# The next logical step is to do analysis for daily, track binary.com odds (house odds) and engage in value betting on Nadex

# Let the response variable be tomorrow's percentage change. 
# Let the predictors be previous day change, previous 5 day change, previous 20 trading day change, previous 60 trading day change, 240 trading day change, 1200 trading day change
# Might as well throw in PE as a predictor for what's its worth

In [33]:
merged.columns

Index(['Date_x', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Change', 'month_x', 'year_x', 'month_year', 'Date_y', 'PE_ratio',
       'month_y', 'month_number', 'year_y', 'month_year_com'],
      dtype='object')

In [34]:
merged = merged.rename(index=str, columns={"Change": "Daily_change"})
merged2 = merged[['Date_x', 'Close', 'Daily_change']]

In [37]:
merged2['Weekly_change'] = 0
merged2['Monthly_change'] = 0
merged2['quarterly_change'] = 0
merged2['Yearly_change'] = 0
merged2['fiveyear_change'] = 0

C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [38]:
merged2[0:4]

,Date_x,Close,Daily_change,Weekly_change,Monthly_change,quarterly_change,Yearly_change,fiveyear_change
0,03-01-1950,16.66,1.000000,0,0,0,0,0
1,04-01-1950,16.85,1.140456,0,0,0,0,0
2,05-01-1950,16.93,0.474777,0,0,0,0,0
3,06-01-1950,16.98,0.295334,0,0,0,0,0

In [48]:
#length = len(merged2)

#for i in range(0, (len(merged2) - 5)):
#    merged2.iloc[i+4, 3] = (merged2.iloc[i+4, 1] - merged2.iloc[i, 1])*100/merged2.iloc[i, 1]

# once again, its easier do all the above in excel. its really surprising that pandas is taking so much time

0

In [53]:
merged2.to_csv('merged2.csv')

In [54]:
final = pd.read_csv(r'C:\Users\Prasanth\Downloads\merged2_modified.csv')

In [57]:
final = final[1251:len(final)]

In [58]:
final[0:4]

,Unnamed: 0,Date_x,Close,Daily_change,Weekly_change,Monthly_change,quarterly_change,Yearly_change,fiveyear_change
1251,1251,03-01-1955,36.750000,2.140078,2.594810,4.564078,10.266622,43.346614,115.966387
1252,1252,04-01-1955,36.419998,-0.897965,3.725656,3.624239,12.179494,46.181390,118.100890
1253,1253,05-01-1955,35.520000,-2.471164,1.902619,3.509787,11.410214,45.331203,115.121075
1254,1254,06-01-1955,35.040001,-1.351349,-0.615562,5.240556,8.723606,42.478941,109.187279

In [ ]:
# i screwed up. let me create the predictor also in excel

In [59]:
final.to_csv('final.csv')

In [60]:
final2 = pd.read_csv(r'C:\Users\Prasanth\Downloads\final_modified.csv')

In [61]:
final2[0:4]

,Date_x,Close,Daily_change,Weekly_change,Monthly_change,quarterly_change,Yearly_change,fiveyear_change,Response,Response categorical
0,03-01-1955,36.750000,2.140078,2.594810,4.564078,10.266622,43.346614,115.966387,-0.897965,0
1,04-01-1955,36.419998,-0.897965,3.725656,3.624239,12.179494,46.181390,118.100890,-2.471164,0
2,05-01-1955,35.520000,-2.471164,1.902619,3.509787,11.410214,45.331203,115.121075,-1.351349,0
3,06-01-1955,35.040001,-1.351349,-0.615562,5.240556,8.723606,42.478941,109.187279,0.827628,1

In [63]:
len(final2)

15898

In [71]:
train = final2[0:11330]
test = final2[11331:15898]

In [73]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model = model.fit(pd.DataFrame(train[['Daily_change', 'Weekly_change', 'Monthly_change', 'quarterly_change', 'Yearly_change', 'fiveyear_change']]), np.ravel(train['Response']))

In [74]:
predicted = model.predict(pd.DataFrame(test[['Daily_change', 'Weekly_change', 'Monthly_change', 'quarterly_change', 'Yearly_change', 'fiveyear_change']]))

In [75]:
predicted = pd.DataFrame(predicted)

In [79]:
predicted['categorical'] = 2

for i in range(0,len(predicted)):
    if predicted.iloc[i,0] >= 0:
        predicted.iloc[i,1] = 1
    else:
        predicted.iloc[i,1] = 0

In [80]:
predicted[0:4]

          0  categorical
0 -0.035850            0
1 -0.321812            0
2  0.143998            1
3  0.132832            1

In [103]:
count = 0

for i in range(0,len(df1)):
    if predicted['categorical'][i] == test.iloc[i,9]:
        count = count + 1

In [104]:
count*100/len(predicted)

# Pretty bad

48.237354937595796

In [113]:
# Random Forests

from sklearn.ensemble import RandomForestClassifier

# I know that i shouldn't test with future data. But let me jsut get this up and running

X_train = pd.DataFrame(train[['Daily_change', 'Weekly_change', 'Monthly_change', 'quarterly_change', 'Yearly_change', 'fiveyear_change']])
y_train = pd.Series(train['Response categorical'])
X_test = pd.DataFrame(test[['Daily_change', 'Weekly_change', 'Monthly_change', 'quarterly_change', 'Yearly_change', 'fiveyear_change']])

rf = RandomForestClassifier(n_estimators = 400, max_features = 1) # Actually, max features is meaningless here. There is only 1 feature
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

#Performance on the test set

y_pred_rf400 = rf.predict_proba(X_test)
y_pred_rf400 = y_pred_rf400[:,1]

In [114]:
y_pred_rf400

array([ 0.45  ,  0.625 ,  0.6275, ...,  0.48  ,  0.6275,  0.6375])

In [116]:
predicted = pd.DataFrame(y_pred_rf400)

In [119]:
predicted.columns = ['Pred']

In [120]:
predicted[0:4]

     Pred
0  0.4500
1  0.6250
2  0.6275
3  0.6025

In [121]:
count = 0

for i in range(0,len(predicted)):
    if abs(predicted['Pred'][i] - test.iloc[i,9]) < 0.5 :
        count = count + 1

In [122]:
count*100/len(predicted)

# Bad

49.529231442960366

In [123]:
from sklearn import svm

classifier = svm.SVC(gamma=0.001, C=100, probability=True)
classifier.fit(X_train, y_train)
y_pred_svm = classifier.predict_proba(X_test) # platt sclaing
y_pred_svm = y_pred_svm[:,1]

In [125]:
predicted = pd.DataFrame(y_pred_svm)

In [126]:
predicted.columns = ['Pred']

In [127]:
count = 0

for i in range(0,len(predicted)):
    if abs(predicted['Pred'][i] - test.iloc[i,9]) < 0.5 :
        count = count + 1

In [128]:
count*100/len(predicted)

# Its amazing how I am doing worse than coin flip here.

47.51477994306985