# Data Wrangling

### Loading in required packages

In [1]:
import nltk
nltk.download()
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.classify.scikitlearn import SklearnClassifier
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA

import numpy as np
import pandas as pd

from sklearn.naive_bayes import MultinomialNB, BernoulliNB
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

C:\Users\Prasanth\Anaconda3\lib\site-packages\nltk\twitter\__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

### Loading in Reddit World Headline news and daily sentiment score

In [3]:
news = pd.read_csv(r"C:\Users\Prasanth\Downloads\M.S. Data Science Academics\2nd Sem\Machine Learning\Projects\RedditNews.csv")

In [4]:
news[1:10]

# world news!!! Predicting American markets with world news

         Date                                               News
1  2016-07-01   IMF chief backs Athens as permanent Olympic host
2  2016-07-01  The president of France says if Brexit won, so...
3  2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4  2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...
5  2016-07-01  Brazil: Huge spike in number of police killing...
6  2016-07-01  Austria's highest court annuls presidential el...
7  2016-07-01  Facebook wins privacy case, can track any Belg...
8  2016-07-01  Switzerland denies Muslim girls citizenship af...
9  2016-07-01  China kills millions of innocent meditators fo...

In [5]:
news_list = news['News']

In [6]:
sia = SIA()
sentiment = []

for i in news_list:
    compound_score = sia.polarity_scores(i)
    sentiment.append(compound_score["compound"])

In [43]:
sentiment[1:10]

[-0.0516, 0.5719, -0.8658, -0.296, -0.4404, -0.3182, 0.5612, -0.7351, -0.2732]

In [7]:
news['sentiment_score'] = sentiment

In [8]:
grouped_news = pd.DataFrame(news.groupby(['Date'])['sentiment_score'].mean())

In [9]:
grouped_news['Date'] = grouped_news.index

In [10]:
grouped_news[1:5]

            sentiment_score        Date
Date
2008-06-09        -0.242536  2008-06-09
2008-06-10        -0.304740  2008-06-10
2008-06-11        -0.143736  2008-06-11
2008-06-12        -0.128564  2008-06-12

### Data Wrangling of Prices and pe ratio data set

In [11]:
pe = pd.read_csv(r'C:\Users\Prasanth\Downloads\PE.csv')
prices = pd.read_csv(r'C:\Users\Prasanth\Downloads\DJIA.csv')

In [12]:
pe[0:4]

   Mar 1, 2018     26
0  Feb 1, 2018  26.30
1  Jan 1, 2018  25.06
2  Dec 1, 2017  24.70
3  Nov 1, 2017  24.09

In [13]:
pe = pe.rename(index=str, columns={"Mar 1, 2018": "Date"})
pe = pe.rename(index=str, columns={"26": "PE_ratio"})

In [55]:
pe.isnull().sum()

Date        0
PE_ratio    0
dtype: int64

In [92]:
prices[0:4]

,Date,Open,High,Low,Close,Adj Close,Volume
0,1985-01-29,1277.719971,1295.489990,1266.890015,1292.619995,1292.619995,13560000
1,1985-01-30,1297.369995,1305.099976,1278.930054,1287.880005,1287.880005,16820000
2,1985-01-31,1283.239990,1293.400024,1272.640015,1286.770020,1286.770020,14070000
3,1985-02-01,1276.939941,1286.109985,1269.770020,1277.719971,1277.719971,10980000

In [93]:
prices.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [14]:
prices['Change'] = 1

In [15]:
prices = prices[len(prices)-2469: len(prices)-420]

In [111]:
prices.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Change'],
      dtype='object')

In [16]:
for i in range(0,(len(prices)-1)):
    prices.iloc[i+1,7] = (prices.iloc[i+1,4] - prices.iloc[i,4])/prices.iloc[i,4]

In [17]:
pe['month'] = pe['Date'].astype(str)
pe['month'] = pe.Date.str[0:3]

In [18]:
pe['month_number'] = '00'

In [182]:
pe['month'].unique()

array(['Feb', 'Jan', 'Dec', 'Nov', 'Oct', 'Sep', 'Aug', 'Jul', 'Jun',
       'May', 'Apr', 'Mar'], dtype=object)

In [19]:
for i in range(0,len(pe)):
    if pe['month'][i] == 'Jan':
        pe['month_number'][i] = '01'
    elif pe['month'][i] == 'Feb':
        pe['month_number'][i] = '02'
    elif pe['month'][i] == 'Mar':
        pe['month_number'][i] = '03'
    elif pe['month'][i] == 'Apr':
        pe['month_number'][i] = '04'
    elif pe['month'][i] == 'May':
        pe['month_number'][i] = '05'
    elif pe['month'][i] == 'Jun':
        pe['month_number'][i] = '06'
    elif pe['month'][i] == 'Jul':
        pe['month_number'][i] = '07'
    elif pe['month'][i] == 'Aug':
        pe['month_number'][i] = '08'
    elif pe['month'][i] == 'Sep':
        pe['month_number'][i] = '09'
    elif pe['month'][i] == 'Oct':
        pe['month_number'][i] = '10'
    elif pe['month'][i] == 'Nov':
        pe['month_number'][i] = '11'
    elif pe['month'][i] == 'Dec':
        pe['month_number'][i] = '12'

C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [184]:
prices['Date'][0:2]

5883    2008-05-28
5884    2008-05-29
Name: Date, dtype: object

In [20]:
prices['month'] = prices['Date'].astype(str)
prices['month'] = prices.Date.str[5:7]

In [21]:
prices['year'] = prices['Date'].astype(str)
prices['year'] = prices.Date.str[0:4]

In [22]:
prices['month_year'] = prices['month'] + prices['year']

In [23]:
pe['year'] = pe['Date'].astype(str)
pe['year'] = pe.Date.str[7:11]

In [24]:
pe['month_year_com'] = pe['month_number'] + pe['year']

In [196]:
pe[1:4]

          Date  PE_ratio month month_number  year month_year_com
1  Jan 1, 2018     25.06   Jan           01  2018         012018
2  Dec 1, 2017     24.70   Dec           12  2017         122017
3  Nov 1, 2017     24.09   Nov           11  2017         112017

In [197]:
prices[0:4]

,Date,Open,High,Low,Close,Adj Close,Volume,Change,month,year,month_year
5883,2008-05-28,12542.900391,12601.929688,12495.269531,12594.030273,12594.030273,213680000,1.000000,05,2008,052008
5884,2008-05-29,12593.870117,12726.660156,12554.700195,12646.219727,12646.219727,206420000,0.004144,05,2008,052008
5885,2008-05-30,12647.360352,12689.700195,12617.400391,12638.320313,12638.320313,210230000,-0.000625,05,2008,052008
5886,2008-06-02,12637.669922,12638.080078,12427.769531,12503.820313,12503.820313,199090000,-0.010642,06,2008,062008

In [165]:
pe[0:4]

          Date  PE_ratio month month_number  year month_year_com
0  Feb 1, 2018     26.30   Feb           02  2018         022018
1  Jan 1, 2018     25.06   Jan           01  2018         012018
2  Dec 1, 2017     24.70   Dec           12  2017         122017
3  Nov 1, 2017     24.09   Nov           11  2017         112017

### Joining the price and PE data sets

In [25]:
merged = pd.merge(prices,
                     pe,
                     left_on='month_year',
                     right_on='month_year_com',
                     how='left')

In [70]:
merged.columns

Index(['Date_x', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Change', 'month_x', 'year_x', 'month_year', 'Date_y', 'PE_ratio',
       'month_y', 'month_number', 'year_y', 'month_year_com'],
      dtype='object')

In [199]:
merged[0:4]

,Date_x,Open,High,Low,Close,Adj Close,Volume,Change,month_x,year_x,month_year,Date_y,PE_ratio,month_y,month_number,year_y,month_year_com
0,2008-05-28,12542.900391,12601.929688,12495.269531,12594.030273,12594.030273,213680000,1.000000,05,2008,052008,"May 1, 2008",25.81,May,05,2008,052008
1,2008-05-29,12593.870117,12726.660156,12554.700195,12646.219727,12646.219727,206420000,0.004144,05,2008,052008,"May 1, 2008",25.81,May,05,2008,052008
2,2008-05-30,12647.360352,12689.700195,12617.400391,12638.320313,12638.320313,210230000,-0.000625,05,2008,052008,"May 1, 2008",25.81,May,05,2008,052008
3,2008-06-02,12637.669922,12638.080078,12427.769531,12503.820313,12503.820313,199090000,-0.010642,06,2008,062008,"Jun 1, 2008",26.11,Jun,06,2008,062008

In [26]:
final_df = merged[['Date_x', 'PE_ratio', 'Change']]

In [27]:
final_df['PE_ratio'] = final_df['PE_ratio'].astype(float)
final_df['Change'] = final_df['Change'].astype(float)

C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Prasanth\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [142]:
final_df.shape

(2049, 3)

In [81]:
grouped_news['Date'][0]

'2008-06-08'

In [83]:
grouped_news['Date'][len(grouped_news)-1]

'2016-07-01'

In [ ]:
# I need to cut final_df

In [213]:
final_df['Date_x'][8]

'2008-06-09'

In [224]:
final_df['Date_x'][2039]

'2016-07-01'

In [28]:
final_df = final_df[8:2040]

In [241]:
grouped_news.columns

Index(['sentiment_score', 'Date'], dtype='object')

In [ ]:
# I think its better for me to calculate the sentiment predictor variables before I merge

In [29]:
grouped_news['sentiment_five'] = None
for i in range(7, len(grouped_news)):
    grouped_news.iloc[i,2] = grouped_news.iloc[i-7:i+1,0].mean()

In [30]:
grouped_news['sentiment_month'] = None
for i in range(30, len(grouped_news)):
    grouped_news.iloc[i,3] = grouped_news.iloc[i-30:i+1,0].mean()

In [31]:
grouped_news['sentiment_year'] = None
for i in range(365, len(grouped_news)):
    grouped_news.iloc[i,4] = grouped_news.iloc[i-365:i+1,0].mean()

In [32]:
# Just imputing the mean

grouped_news = grouped_news.fillna(grouped_news.mean())

### Building the final data frame (merger of all the 3 data sets)

In [33]:
merged_final = pd.merge(grouped_news,
                  final_df,
                  left_on='Date',
                  right_on='Date_x',
                  how='right')

# Now we have a final data frame. Took care of the exact range since I need to get rid of weekdays

In [289]:
merged_final[0:5]

,sentiment_score,Date,sentiment_five,sentiment_month,sentiment_year,Date_x,PE_ratio,Change,change_five,change_month,change_year
0,-0.242536,2008-06-09,-0.212552,-0.212691,-0.214041,2008-06-09,26.11,0.005775,None,None,None
1,-0.304740,2008-06-10,-0.212552,-0.212691,-0.214041,2008-06-10,26.11,0.000769,None,None,None
2,-0.143736,2008-06-11,-0.212552,-0.212691,-0.214041,2008-06-11,26.11,-0.016761,None,None,None
3,-0.128564,2008-06-12,-0.212552,-0.212691,-0.214041,2008-06-12,26.11,0.004784,None,None,None
4,-0.252312,2008-06-13,-0.212552,-0.212691,-0.214041,2008-06-13,26.11,0.013653,None,None,None

In [34]:
merged_final['change_five'] = None
merged_final['change_month'] = None
merged_final['change_year'] = None

In [280]:
merged_final.columns

Index(['sentiment_score', 'Date', 'sentiment_five', 'sentiment_month',
       'sentiment_year', 'Date_x', 'PE_ratio', 'Change', 'change_five',
       'change_month', 'change_year'],
      dtype='object')

In [35]:
for i in range(4,len(merged_final)):
    merged_final.iloc[i,8] = merged_final.iloc[i-4:i+1,7].mean()

In [36]:
for i in range(20, len(merged_final)):
    merged_final.iloc[i,9] = merged_final.iloc[i-20:i+1,7].mean()

In [37]:
for i in range(250, len(merged_final)):
    merged_final.iloc[i,10] = merged_final.iloc[i-250:i+1,7].mean()

In [38]:
# Just imputing the mean

merged_final = merged_final.fillna(merged_final.mean())

In [40]:
merged_final['Response'] = None

In [41]:
merged_final.columns

Index(['sentiment_score', 'Date', 'sentiment_five', 'sentiment_month',
       'sentiment_year', 'Date_x', 'PE_ratio', 'Change', 'change_five',
       'change_month', 'change_year', 'Response'],
      dtype='object')

In [42]:
for i in range(0,(len(merged_final)-1)):
    merged_final.iloc[i,11] = merged_final.iloc[i+1,7]

In [43]:
merged_final = merged_final.fillna(merged_final.mean())

In [52]:
merged_final['Res_cat'] = 2

for i in range(0,len(merged_final)):
    if merged_final.iloc[i,11] >= 0:
        merged_final.iloc[i,12] = 1
    else:
        merged_final.iloc[i,12] = 0

In [53]:
merged_final

,sentiment_score,Date,sentiment_five,sentiment_month,sentiment_year,Date_x,PE_ratio,Change,change_five,change_month,change_year,Response,Res_cat
0,-0.242536,2008-06-09,-0.212552,-0.212691,-0.214041,2008-06-09,26.11,0.005775,0.000262,0.000283,4.172278e-04,0.000769,1
1,-0.304740,2008-06-10,-0.212552,-0.212691,-0.214041,2008-06-10,26.11,0.000769,0.000262,0.000283,4.172278e-04,-0.016761,0
2,-0.143736,2008-06-11,-0.212552,-0.212691,-0.214041,2008-06-11,26.11,-0.016761,0.000262,0.000283,4.172278e-04,0.004784,1
3,-0.128564,2008-06-12,-0.212552,-0.212691,-0.214041,2008-06-12,26.11,0.004784,0.000262,0.000283,4.172278e-04,0.013653,1
4,-0.252312,2008-06-13,-0.212552,-0.212691,-0.214041,2008-06-13,26.11,0.013653,0.001644,0.000283,4.172278e-04,-0.003109,0
5,-0.230048,2008-06-16,-0.206019,-0.212691,-0.214041,2008-06-16,26.11,-0.003109,-0.000133,0.000283,4.172278e-04,-0.008866,0
6,-0.208244,2008-06-17,-0.201733,-0.212691,-0.214041,2008-06-17,26.11,-0.008866,-0.002060,0.000283,4.172278e-04,-0.010793,0
7,-0.249704,2008-06-18,-0.194854,-0.212691,-0.214041,2008-06-18,26.11,-0.010793,-0.000866,0.000283,4.172278e-04,0.002829,1
8,-0.095984,2008-06-19,-0.188885,-0.212691,-0.214041,2008-06-19,26.11,0.002829,-0.001257,0.000283,4.172278e-04,-0.018271,0
9,-0.419844,2008-06-20,-0.225295,-0.212691,-0.214041,2008-06-20,26.11,-0.018271,-0.007642,0.000283,4.172278e-04,-0.000028,0
10,-0.193092,2008-06-23,-0.227085,-0.212691,-0.214041,2008-06-23,26.11,-0.000028,-0.007026,0.000283,4.172278e-04,-0.002950,0
11,-0.146004,2008-06-24,-0.216580,-0.212691,-0.214041,2008-06-24,26.11,-0.002950,-0.005842,0.000283,4.172278e-04,0.000373,1
12,-0.203948,2008-06-25,-0.216043,-0.212691,-0.214041,2008-06-25,26.11,0.000373,-0.003609,0.000283,4.172278e-04,-0.030343,0
13,-0.315736,2008-06-26,-0.224297,-0.212691,-0.214041,2008-06-26,26.11,-0.030343,-0.010244,0.000283,4.172278e-04,-0.009334,0
14,-0.183500,2008-06-27,-0.235236,-0.212691,-0.214041,2008-06-27,26.11,-0.009334,-0.008456,0.000283,4.172278e-04,0.000308,1
15,-0.075520,2008-06-30,-0.214915,-0.212691,-0.214041,2008-06-30,26.11,0.000308,-0.008389,0.000283,4.172278e-04,0.002841,1
16,-0.021204,2008-07-01,-0.193429,-0.212691,-0.214041,2008-07-01,25.37,0.002841,-0.007231,0.000283,4.172278e-04,-0.014650,0
17,-0.183992,2008-07-02,-0.198178,-0.212691,-0.214041,2008-07-02,25.37,-0.014650,-0.010236,0.000283,4.172278e-04,0.006512,1
18,-0.250220,2008-07-03,-0.203962,-0.212691,-0.214041,2008-07-03,25.37,0.006512,-0.002865,0.000283,4.172278e-04,-0.005012,0
19,-0.261052,2008-07-07,-0.185056,-0.212691,-0.214041,2008-07-07,25.37,-0.005012,-0.002000,0.000283,4.172278e-04,0.013555,1
20,-0.130532,2008-07-08,-0.191933,-0.214803,-0.214041,2008-07-08,25.37,0.013555,0.000649,-0.003272,4.172278e-04,-0.020798,0
21,-0.284932,2008-07-09,-0.224899,-0.212304,-0.214041,2008-07-09,25.37,-0.020798,-0.004079,-0.004538,4.172278e-04,0.007318,1
22,-0.242840,2008-07-10,-0.232255,-0.212313,-0.214041,2008-07-10,25.37,0.007318,0.000315,-0.004226,4.172278e-04,-0.011442,0
23,0.014468,2008-07-11,-0.199168,-0.202016,-0.214041,2008-07-11,25.37,-0.011442,-0.003276,-0.003972,4.172278e-04,-0.004085,0
24,-0.147404,2008-07-14,-0.186988,-0.204158,-0.214041,2008-07-14,25.37,-0.004085,-0.003090,-0.004395,4.172278e-04,-0.008381,0
25,-0.153760,2008-07-15,-0.173577,-0.203306,-0.214041,2008-07-15,25.37,-0.008381,-0.007478,-0.005444,4.172278e-04,0.025244,1
26,-0.218728,2008-07-16,-0.184601,-0.205006,-0.214041,2008-07-16,25.37,0.025244,0.001731,-0.004094,4.172278e-04,0.018451,1
27,-0.061580,2008-07-17,-0.156682,-0.199571,-0.214041,2008-07-17,25.37,0.018451,0.003958,-0.002793,4.172278e-04,0.004360,1
28,-0.143932,2008-07-18,-0.144319,-0.197497,-0.214041,2008-07-18,25.37,0.004360,0.007118,-0.002072,4.172278e-04,-0.002543,0
29,-0.308484,2008-07-21,-0.179111,-0.195624,-0.214041,2008-07-21,25.37,-0.002543,0.007427,-0.002327,4.172278e-04,0.011787,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002,-0.177904,2016-05-20,-0.158309,-0.176571,-0.195038,2016-05-20,23.81,0.003759,-0.000368,-0.001269,-1.108506e-04,-0.000458,0
2003,-0.319948,2016-05-23,-0.247172,-0.200581,-0.197131,2016-05-23,23.81,-0.000458,-0.002460,-0.001347,-7.105021e-05,0.012183,1
2004,-0.149340,2016-05-24,-0.240810,-0.197763,-0.196779,2016-05-24,23.81,0.012183,0.002018,-0.000697,-4.933102e-05,0.008215,1
2005,-0.347872,2016-05-25,-0.264589,-0.202635,-0.197213,2016-05-25,23.81,0.008215,0.003699,-0.000340,-8.513384e-06,-0.001301,0
2006,-0.237692,2016-05-26,-0.274973,-0.201949,-0.197461,2016-05-26,23.81,-0.001301,0.004480,-0.000538,1.167749e-05,0.002520,1
2007,-0.249088,2016-05-27,-0.278318,-0.202752,-0.197460,2016-05-27,23.81,0.002520,0.004232,0.000138,1.515083e-05,-0.004813,0
2008,-0.183956,2016-05-31,-0.200678,-0.198291,-0.197280,2016-05-31,23.81,-0.004813,0.003361,0.000062,2.254511e-06,0.000139,1
2009,-0.337916,2016-06-01,-0.224250,-0.208639,-0.197186,2016-06-01,23.97,0.000139,0.000952,-0.000247,-1.142127e-05,0.002748,1
2010,-0.274064,2016-06-02,-0.215024,-0.207091,-0.197012,2016-06-02,23.97,0.002748,-0.000141,0.000258,3.714844e-05,-0.001766,0
2011,-0.130016,2016-06-03,-0.201565,-0.209505,-0.197075,2016-06-03,23.97,-0.001766,-0.000234,0.000441,4.259996e-05,0.006361,1
2012,-0.257180,2016-06-06,-0.203940,-0.205082,-0.198045,2016-06-06,23.97,0.006361,0.000534,0.000718,8.644817e-05,0.001002,1
2013,-0.120532,2016-06-07,-0.206251,-0.201794,-0.197655,2016-06-07,23.97,0.001002,0.001697,0.000550,9.100190e-05,0.003722,1
2014,-0.091440,2016-06-08,-0.194686,-0.201785,-0.197580,2016-06-08,23.97,0.003722,0.002413,0.000821,5.282135e-05,-0.001103,0
2015,-0.088084,2016-06-09,-0.163457,-0.200846,-0.197769,2016-06-09,23.97,-0.001103,0.001643,0.000170,3.980151e-05,-0.006664,0
2016,-0.131348,2016-06-10,-0.145618,-0.194942,-0.197782,2016-06-10,23.97,-0.006664,0.000664,0.000430,4.428896e-05,-0.007437,0
2017,-0.155468,2016-06-13,-0.158441,-0.200774,-0.198422,2016-06-13,23.97,-0.007437,-0.002096,0.000050,3.862664e-05,-0.003252,0
2018,-0.152276,2016-06-14,-0.145327,-0.202441,-0.198611,2016-06-14,23.97,-0.003252,-0.002947,0.000393,2.976019e-07,-0.001960,0
2019,-0.303500,2016-06-15,-0.168199,-0.206272,-0.198898,2016-06-15,23.97,-0.001960,-0.004083,-0.000176,-1.446876e-05,0.005268,1
2020,-0.270616,2016-06-16,-0.190596,-0.208542,-0.199295,2016-06-16,23.97,0.005268,-0.002809,0.000560,-3.348593e-05,-0.003267,0
2021,-0.295452,2016-06-17,-0.216517,-0.212988,-0.199673,2016-06-17,23.97,-0.003267,-0.002130,0.000414,-2.453498e-05,0.007338,1
2022,-0.350348,2016-06-20,-0.232593,-0.217136,-0.200071,2016-06-20,23.97,0.007338,0.000825,0.001011,-1.825905e-05,0.001396,1
2023,-0.343768,2016-06-21,-0.256130,-0.216729,-0.200642,2016-06-21,23.97,0.001396,0.001755,0.000899,-1.803697e-05,-0.002743,0
2024,-0.095448,2016-06-22,-0.249027,-0.207281,-0.200323,2016-06-22,23.97,-0.002743,0.001599,0.000790,1.012134e-05,0.012949,1
2025,-0.158004,2016-06-23,-0.230840,-0.202057,-0.200451,2016-06-23,23.97,0.012949,0.003135,0.000826,7.849941e-05,-0.033886,0
2026,-0.046832,2016-06-24,-0.202867,-0.198751,-0.200185,2016-06-24,23.97,-0.033886,-0.002989,-0.001178,-6.904610e-05,-0.014971,0
2027,-0.142656,2016-06-27,-0.159179,-0.180827,-0.199778,2016-06-27,23.97,-0.014971,-0.007451,-0.001829,-5.092090e-05,0.015722,1
2028,-0.069436,2016-06-28,-0.124064,-0.176226,-0.199254,2016-06-28,23.97,0.015722,-0.004586,-0.001201,6.473137e-06,0.016368,1
2029,-0.205284,2016-06-29,-0.106754,-0.178869,-0.199156,2016-06-29,23.97,0.016368,-0.000764,-0.000192,4.038891e-05,0.013298,1
2030,-0.280596,2016-06-30,-0.129897,-0.184629,-0.199599,2016-06-30,23.97,0.013298,-0.000694,0.000435,9.960772e-05,0.001081,1
2031,-0.338272,2016-07-01,-0.152431,-0.189606,-0.200138,2016-07-01,24.52,0.001081,0.006300,0.000355,1.143691e-04,0.000267,1

# Modeling

In [91]:
train = merged_final[0:1500]
test = merged_final[1500:len(merged_final)]

### Linear Regression

In [92]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model = model.fit(pd.DataFrame(train[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]), np.ravel(train['Response']))

In [93]:
predicted = model.predict(pd.DataFrame(test[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]))

In [94]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rmse_linear = sqrt(mean_squared_error(predicted, test['Response']))

print(rmse_linear*100)

# Well, thats very bad

0.9019860694469614

In [95]:
def get_accuracy(predicted):

    predicted = pd.DataFrame(predicted)
    predicted['categorical'] = 2
    
    for i in range(0,len(predicted)):
        if predicted.iloc[i,0] >= 0:
            predicted.iloc[i,1] = 1
        else:
            predicted.iloc[i,1] = 0
    
    count = 0
    
    for i in range(0,len(predicted)):
        if predicted['categorical'][i] == test.iloc[i,12]:
            count = count + 1
    
    return (count*100/len(predicted))

get_accuracy(predicted)

# 49.2%. Pretty bad

49.24812030075188

### Logistic Regression

In [96]:
model = LogisticRegression()
model = model.fit(pd.DataFrame(train[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]), np.ravel(train['Res_cat']))
predicted = model.predict(pd.DataFrame(test[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]))

In [97]:
get_accuracy(predicted)

# 53%. Finally, I got something small

53.00751879699248

In [129]:
probs = model.predict_proba(pd.DataFrame(test[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]))

In [128]:
def get_accuracy_probs(probs):
    
    probs = pd.DataFrame(probs)
    pos_percentile = train['Res_cat'].mean()
    prob_cutoff = probs.quantile([pos_percentile])[1]
    prob_cutoff = pd.DataFrame(prob_cutoff)
    
    for i in range(0,len(probs)):
        if probs.iloc[i,1] >= prob_cutoff.iloc[0,0]:
            probs.iloc[i,1] = 1
        else:
            probs.iloc[i,1] = 0
        
    count = 0
    
    for i in range(0,len(probs)):
        if probs.iloc[i,1] == test.iloc[i,12]:
            count = count + 1
    
    return (count*100/len(predicted))

In [130]:
get_accuracy_probs(probs)

# this sucks. 

# Lesson: Stop trying to predict stock market and keep investing in long term.

48.1203007518797

### Naive Bayes

In [75]:
# Why don't we try Binomial Naive Bayes

x = pd.DataFrame(train[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']])
y = train['Res_cat']

bnb = BernoulliNB()
bnb.fit(x,y)

predicted = bnb.predict(pd.DataFrame(test[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]))

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [82]:
get_accuracy(predicted)

# 53% from Naive Bayes!!!. I am losing my mind

53.00751879699248

In [131]:
probs = bnb.predict_proba(pd.DataFrame(test[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]))

get_accuracy_probs(probs)

#51.3. Still nothing

51.31578947368421

### LDA

In [134]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

model = LinearDiscriminantAnalysis()
model = model.fit(pd.DataFrame(train[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]), np.ravel(train['Res_cat']))
predicted = model.predict(pd.DataFrame(test[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]))

In [135]:
get_accuracy(predicted)

# All pos

53.00751879699248

In [136]:
probs = model.predict_proba(pd.DataFrame(test[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]))

get_accuracy_probs(probs)

#48.7. Still nothing

48.87218045112782

### Random Forest regression

In [148]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, criterion='mse', max_features='sqrt')
model = model.fit(pd.DataFrame(train[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]), np.ravel(train['Response']))

In [149]:
predicted = model.predict(pd.DataFrame(test[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]))

In [150]:
rmse_linear = sqrt(mean_squared_error(predicted, test['Response']))
print(rmse_linear*100)

# As bad as linear regression

0.9232045154369573

In [151]:
get_accuracy(predicted)

52.255639097744364

### Random Forest Classifier

In [153]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=1000, max_features='sqrt')
model = model.fit(pd.DataFrame(train[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]), np.ravel(train['Res_cat']))

In [154]:
predicted = model.predict(pd.DataFrame(test[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]))
get_accuracy(predicted)

# All pos. The same 53 again

53.00751879699248

In [155]:
probs = model.predict_proba(pd.DataFrame(test[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]))

get_accuracy_probs(probs)

#47.7. Still nothing

47.744360902255636

### SVM Regression

In [162]:
from sklearn.svm import SVR
model = SVR()
model = model.fit(pd.DataFrame(train[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]), np.ravel(train['Response']))

In [163]:
predicted = model.predict(pd.DataFrame(test[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]))
rmse_linear = sqrt(mean_squared_error(predicted, test['Response']))
print(rmse_linear*100)

# OMG. It just keeps getting worse

1.8205633287765537

In [164]:
get_accuracy(predicted)

53.00751879699248

### SVM Classifier

In [169]:
from sklearn.svm import SVC
model = SVC(gamma=0.01, C=100, probability = True)
model = model.fit(pd.DataFrame(train[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]), np.ravel(train['Res_cat']))

In [170]:
predicted = model.predict(pd.DataFrame(test[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]))
get_accuracy(predicted)

# All pos. The same 53 again

53.00751879699248

In [171]:
probs = model.predict_proba(pd.DataFrame(test[['sentiment_score', 'sentiment_five', 'sentiment_month', 'sentiment_year', 'PE_ratio', 'change_five', 'change_month', 'change_year']]))

get_accuracy_probs(probs)

#50.4. Still nothing

50.37593984962406